.citySearcResults {
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
}

.citySearcResults li {
  margin: 10px 0;
  padding: 10px 0;
  background-color: #5a5a5a;
  cursor: pointer;
}

.citySearcResults li:nth-child(even) {
  background-color: #9b9b9b;
}