.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.indicator {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: green;
}

.indicator.pressed {
  background-color: red;
}

.App-header nav a {
  margin: 0 20px;
  color: #050;
}